<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./log" />
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度,%line:行号,%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/log/log-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
    <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" /> -->


    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 分包输出日志，分包配置 -->

    <!-- 输出接收的报警数据 -->
    <appender name="ZmqServer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/ZmqServer-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ZmqClient" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/ZmqClient-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="ContextDataServiceimpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/ContextDataServiceimpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="DamageInspectionServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/DamageInspectionServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="EmptyInspectionDataServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/EmptyInspectionDataServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="GateDataServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/GateDataServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="MoveStatusUpdateServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/MoveStatusUpdateServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="OcrDataGtServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/OcrDataGtServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="OcrDataProtoServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/OcrDataProtoServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="TransferDataServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/TransferDataServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="TruckInfoServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/TruckInfoServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="TruckTriggerServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/TruckTriggerServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="SaticScheduleTask" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/SaticScheduleTask-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="GoogleProtoToJavaBeanServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/GoogleProtoToJavaBeanServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="LaneEntryServiceImpl" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/LaneEntryServiceImpl-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>10</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>10MB</MaxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] [%-5level] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="com.example.demo.service.ZmqServer" level="INFO" additivity="false">
        <appender-ref ref="ZmqServer" />
    </logger>
    <logger name="com.example.demo.service.ZmqClient" level="INFO" additivity="false">
        <appender-ref ref="ZmqClient" />
    </logger>
    <logger name="com.example.demo.service.contextDataService.impl.ContextDataServiceimpl" level="INFO" additivity="false">
        <appender-ref ref="ContextDataServiceimpl" />
    </logger>
    <logger name="com.example.demo.service.damageInspectionService.impl.DamageInspectionServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="DamageInspectionServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.emptyInspectionDataService.impl.EmptyInspectionDataServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="EmptyInspectionDataServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.gateDataService.impl.GateDataServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="GateDataServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.googleProtoToJavaBean.impl.GoogleProtoToJavaBeanServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="GoogleProtoToJavaBeanServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.laneEntryService.impl.LaneEntryServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="LaneEntryServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.MoveStatusUpdateService.impl.MoveStatusUpdateServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="MoveStatusUpdateServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.OcrDataGt.impl.OcrDataGtServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="OcrDataGtServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.ocrDataProtoService.impl.OcrDataProtoServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="OcrDataProtoServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.transferDataService.impl.TransferDataServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="TransferDataServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.truckInfoService.impl.TruckInfoServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="TruckInfoServiceImpl" />
    </logger>
    <logger name="com.example.demo.service.truckTriggerService.impl.TruckTriggerServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="TruckTriggerServiceImpl" />
    </logger>
    <logger name="com.example.demo.utils.SaticScheduleTask" level="INFO" additivity="false">
        <appender-ref ref="SaticScheduleTask" />
    </logger>

</configuration>